/* Homepage.css */
body {
  background-color: #121212;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.homepage-container {
  text-align: left; 
  padding: 2rem;
  position: relative; /* Enable relative positioning */
  top: -20px; /* Move the entire container up by 20px */
}

.header h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.setup-collection, .explore-data {
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  max-width: 600px;
  margin: 0 0 2rem 0;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.btn {
  background-color: #333;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
}

.header {
  display: flex;
  justify-content: space-between; /* Ensures text on the left and buttons on the right */
  align-items: center; /* Vertically align the button and header */
}

.header-buttons {
  display: flex;
  gap: 0.5rem; /* Adjust this value to reduce the space */
}

.quick-setup-btn, .connect-btn {
  background-color: #28a745; /* Green background for quick setup */
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.connect-btn {
  background-color: #007bff; /* Blue background for connect */
}

.quick-setup-btn:hover {
  background-color: #218838; /* Darker green on hover */
}

.connect-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.connect-new-project {
  margin-bottom: 3rem;
}

.connect-new-project h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.connect-new-project p {
  font-size: 1rem;
  max-width: 600px;
  margin: 0 0 2rem 0;
}