/* Mona Sans Font Face Declarations */
@font-face {
  font-family: 'Mona Sans';
  src: url('/assets/fonts/Mona_Sans/MonaSans-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mona Sans';
  src: url('/assets/fonts/Mona_Sans/MonaSans-Italic-VariableFont_wdth,wght.ttf') format('truetype-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-style: italic;
  font-display: swap;
}

/* global scrollbar styles */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--mui-palette-nativeScrollbarBg) transparent;
}

html::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--mui-palette-nativeScrollbarBg);
  border-radius: 2px;
}

body {
  margin: 0;
  font-family: 'Mona Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Fix thick underlines in Mona Sans font */
a {
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

a:hover {
  text-decoration-thickness: 1px;
}
