body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.monaco-placeholder {
  color: darkturquoise;
  display: initial;
  position: absolute;
  top: 0;
  left: 65px;
  pointer-events: all;
  z-index: 1;
  opacity: 0.7;
}
.grayDecorator {
  background: rgb(197, 199, 193);
}